body{background-color: black;
}

.poster{ text-align: center;
background-color: black;
color: white;
margin-top: 100px;
}

.Jesus{
    border: 5px solid white;
    height: 400px;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
}